body {
    font-family:Verdana;
    padding:0;
    margin:10px auto;
}

.body {
    padding:9px;
    margin:10px auto;
    width:750px;
    height:600px;
    border:1px solid black;
}

aside {
    float:right;
    margin-top:140px;
}

section {
    border:1px solid black;
    width: 530px;
    padding:10px;
    margin-top:5px;
    margin-left:5px;
    float:left;
}

h1 {
    text-align:center;
    font-size:larger;
    border-bottom:1px solid black;
    margin-top:10px;
    padding-bottom: 20px;
}

fieldset {
    width:230px;
    height:150px;
}

img {
    height:100px;
    float:left;
}

p {
    margin-bottom:25px;
}

.lastP {
    display:table-cell;
    padding-left:30px;
}

.USD {
    display:table-cell;
    padding-left:15px;
}

.even {
    float:left;
}

input[type="range"] {
    margin:10px 0px 20px 20px;
}