body {
    font-family:Arial;
    font-size:x-small;
    padding:0;
    margin:0;
}

#main {
    background-color:#eeeeee;
    border-radius:7px;
    padding-left:10px;
    width:340px;
    height:420px;
}

h1 {
    font-weight:normal;
}

#dives {
    background-color:white;
    padding:10px;
    margin:2px;
    margin-bottom:15px;
    height:90px;
    width:300px;
    border:1px solid gray;
}

#text {
    float:right;
    display:inline;
    height:100px;
    width:150px;
}

#image {
    float:left;
    border:1px solid gray;
    display:inline;
    height:86px;
    width:130px;
}

a {
    text-decoration:none;
    color:white;
    display:block;
    float:right;
    background-color:#cc0001;
    margin:10px 2px 5px 3px;
    padding:5px 15px;
    border: 2px outset #e88485;
    box-shadow: inset 13px 0 0 #8A0000;
}